<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_message._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>근거리 통신</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>port-0-woju-server-9zxht12blqmfgnv0.sel4.cloudtype.app</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>myknow.woju.audioManager.record</string>
		<string>myknow.woju.audioManager.play</string>
	</array>
	<key>NSUserActivityTypesToSuggestedActions</key>
	<dict>
		<key>myknow.woju.audioManager.play</key>
		<array>
			<string>Start Playback</string>
		</array>
		<key>myknow.woju.audioManager.record</key>
		<array>
			<string>Start Recording</string>
		</array>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
